@import "compass/css3";
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header{
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  background-color:rgb(22, 126, 19);
}
.logo{
  border-right: 2px solid rgb(148, 21, 21);
  order: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}
.logo img{
  width: 150px;
  height: 70px;
  margin-top: 2px;
  margin-right: 20px;
}
.options{
  order: 2;
  flex-grow: 2;
  text-align: center;
  font-display: inherit;
}
.navbar{
  width: 100%;
  height: 45px;
  margin-top: 70px;
  background: rgba(91, 97, 96, 0.5);
  align-self: center;
}
.navigation {
  list-style: none;
  margin: 0;  
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.navigation a:hover {
  background: darken(deepskyblue, 2%);
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
.tree1{
    /* The image used */
    background-image: url("../img/tree.png");
    /* Full height */
    height: 80%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
  display: flex;
  flex-direction: column; 
  margin: 100px;
  margin-top: 60px;
  align-self: center;
  background: rgba(109, 91, 91, 0.5);
  padding: 30px;
}
.hero p{
  margin: 5px;
}
.headerhero{
height: 45px;
}
.threecolumn{
  display: flex;
  flex-direction: row;
  padding: 5px;
  background: rgba(150, 247, 126, 0.5);
}
.article1{
  order: 1;
  padding: 5px;
  border: 1px solid rgb(99, 96, 96);
}
.article2{
  order: 2;
  padding: 5px;
  border: 1px solid rgb(99, 96, 96);
}
.article3{
  order: 3;
  padding: 5px;
  border: 1px solid rgb(99, 96, 96);
}
.articleimage img{
  display: initial;
  width:200px;
  height: 200px;
  padding-left: 60px;
  padding-right: 60px; 
}
.articleimage figcaption{
  margin-left: 60px;
}
.footer, .fivecolumn{ 
  display: flex;
  flex-direction: row; 
  bottom: 0px;
  width: 100%; 
  background: rgba(52, 53, 52, 0.5); 
}
.fivecolumn p{
  padding-left: 25px;
}
.fivecolumn ul {
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 25px;
}
.fivecolumn li {
  text-decoration: none;
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 2px;
}
.fivecolumn a {
  text-decoration: none;
  color:rgb(238, 230, 230);
}
.fivecolumn a:hover {
  text-decoration: underline;
  color:blue;
}
.column1{
  order: 1;
  flex: auto;
}
.column2{
  order: 2;
  flex: auto;
}
.column3{
  order: 3;
  flex: auto;
}
.column4{
  order: 4;
  flex: auto;
}
.column5{
  order: 5;
  flex: auto;
}
@media only screen and (max-width: 1024px){
    .navbar {
      justify-content: space-around;
    }
  .header{
    width: 100%;
    position: fixed;
    display: flex;
    background-color:rgb(22, 126, 19);
  }
  .articleimage img{
    display: none;
  }
  .threecolumn{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: rgba(150, 247, 126, 0.5);
  }
  .footer, .fivecolumn{ 
    display: flex;
    flex-direction: column; 
    bottom: 0px;
    width: 100%; 
    background: rgba(52, 53, 52, 0.5); 
  }
  .hero {
    display: flex;
    flex-direction: column; 
    align-self: center;
    background: rgba(109, 91, 91, 0.5);
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .logo{
    border: none;
    order: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    align-content: center;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
   width: 100%;
}
}
@media only screen and (max-width: 320px){
  .navbar {
    justify-content: space-around;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
   width: 100%;
}
  .header{
    width: 100%;
    position: fixed;
    display: flex;
    background-color:rgb(22, 126, 19);
  }
  .articleimage img{
    display: none;
  }
  .threecolumn{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: rgba(150, 247, 126, 0.5);
  }
  .footer, .fivecolumn{ 
    display: flex;
    flex-direction: column; 
    bottom: 0px;
    width: 100%; 
    background: rgba(52, 53, 52, 0.5); 
  }
  .tree1{
    /* The image used */
    background-image: url("../img/tree.png");
    width: 100%;
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    .hero {
      display: flex;
      flex-direction: column; 
      align-self: center;
      background: rgba(109, 91, 91, 0.5);
      margin-left: 0px;
      margin-right: 0px;
    }
    .navbar ul {
      list-style-type: none;
      overflow: scroll;
      text-decoration: none;
      margin-top: 0px;
      margin-bottom: 12px;
      padding-left: 0px;
    }
    .options{
      display: none;
    }
    .logo{
      border: none;
      order: 1;
      margin-top: 0px;
      margin-bottom: 0px;
      align-self: center;
    }
}